<!doctype html>
<html lang="en">
  <head>
    <title>QuakeCon Trumps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./res/toprockets.css">
    <style type="text/css" id="style-hide-state">
      /* Hide state until loaded */
      .state {
        visibility: collapse;
      }
    </style>
  </head>
  <body ng-app="topRocketsApp">
    <div ng-controller="TopRocketsController">
      <div class="tr-container-game">
        <div class="tr-container state state-loading state-login state-gameover state-lobby state-searching state-challenge state-challenging state-leaderboard">
          <div class="state state-loading">

          </div>
          <div class="state state-login">
            <!-- Active while waiting for server to respond with login -->
          </div>
          <div class="state state-lobby state-searching state-challenging">
            <img src="./res/lobby_background.png" style="position:absolute;left:0px;top:0px;z-index:-1;">
            <div class="tr-lobby-left">
              <div class="tr-playerlist-header">PLAYERS</div>
              <div class="tr-playerlist-container">
                <table class="tr-table-playerlist">
                  <tbody id="playerlist">
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tr-lobby-right">
              <div class="tr-text-lobby">
                <p>
                  Learn about the Quakecon Tri-Master Tournament participants 
                  and beat your friends in our top trumps game. Pick a stat 
                  that you think the top the value on your opponent's card. 
                  The player with a higher number takes the cards. Collect the 
                  entire deck to win!
                </p>
                <p id="lobbytext" class="tr-text-lobby-info">
                  
                </p>
              </div>
              <button type="button" class="tr-btn-play state state-lobby" ng-click="startSearch()"></button>
              <button type="button" class="tr-btn-cancel state state-searching" ng-click="cancelSearch()"></button>
              <button type="button" class="tr-btn-cancel state state-challenging" ng-click="cancelChallenging()"></button>
              <div class="tr-text-searching state state-searching">Searching for a game<br><span class="tr-dots">...</span></div>
              <div class="tr-text-searching state state-challenging"><span id="challengingtext">Waiting for a response</span><br><span class="tr-dots">...</span></div>
            </div>
          </div>
          
          <!-- Leaderboard page -->
          <div class="state state-leaderboard tr-container-leaderboard">
            <div class="tr-leaderboard">
              <ol id="leaderboardlist-col1" class="tr-leaderboard-list tr-text"></ol>
              <ol id="leaderboardlist-col2" class="tr-leaderboard-list tr-text"></ol>
            </div>
            <button type="button" class="tr-btn-close" ng-click="closeLeaderboard()"></button>
          </div>
          
          <!--Start challenge page-->
          
          <div class="state state-challenge" id="challengepopup">
            <div id="challengername">testname</div>
            <button id="challengeaccept" ng-click="challengeAccept()"></button>
            <button id="challengerefuse" ng-click="challengeDecline()"></button>
          </div>
          
          
        </div>
        
        
        
        
        <!--End challenge page-->
        
        <!--Start gameactive (This is just to get the bottom stats bar in place without having to make 2 of them. Inside this there's the "cards" page and the "game over" page)-->
        
        <div id="gameactive" class="state state-turn-start state-turn-end state-gameover-win state-gameover-lose">
          
          <!--"Cards" page-->
          <!--Left card-->
          
          <div class="tr-card-left state state-turn-start state-turn-end">
            <img id="my-cardphoto" src="./img/1/1.png" class="tr-card-photo"></img>
            <img src="./res/card_front.png" class="tr-card-front"></img>
            <div id="my-title" class="tr-card-title-text">MyCardTitle</div>
            <div id="my-subtitle" class="tr-card-subtitle-text">subtitle goes here</div>
            <div id="my-flavour" class="tr-card-flavour-text">flavour</div>
            <div class="tr-stats-container">
              <table class="tr-stats-table">
                <tbody id="my-stats">
                  
                </tbody>
              </table>
            </div>
          </div>
          
          <!--Right card - stats visible-->
          
          <div class="tr-card-right state state-turn-end">
            <img id="their-cardphoto" src="./img/1/1.png" class="tr-card-photo"></img>
            <img src="./res/card_front.png" class="tr-card-front"></img>
            <div id="their-title" class="tr-card-title-text">MyCardTitle</div>
            <div id="their-subtitle" class="tr-card-subtitle-text">subtitle goes here</div>
            <div id="their-flavour" class="tr-card-flavour-text">flavour</div>
            <div class="tr-stats-container">
              <table class="tr-stats-table">
                <tbody id="their-stats">
                  
                </tbody>
              </table>
            </div>
          </div>
          
          <!--Right card - stats hidden-->
          
          <div class="tr-card-right tr-card-right-hidden state state-turn-start">
            <img src="./res/card_back.png" class="tr-card-front"></img>
            <p class="turn turn-mine">Your turn!<br><span class="tr-timer"></span></p>
            <p class="turn turn-theirs">Waiting for your opponent<br><span class="tr-timer"></span></p>
          </div>
          
          <!--Next turn button-->
          
          <button id="nextturn" class="tr-btn-next state state-turn-end" ng-click="finishTurn()"></button>
          
          <!--End "cards" page-->
          
          <!--Game over page-->
          
          <div class="state gameovermain state-gameover-win">
            <button class="gameoverplayagain" ng-click="changeState('lobby')"></button>
          </div>
          <div class="state gameovermain state-gameover-lose">
            <button class="gameoverplayagain" ng-click="changeState('lobby')"></button>
          </div>
          
          <!--End gameover page-->
          
        </div>
        
        <!--End gameactive-->
  
        <!--Bottom stats bar-->
        
        <div id="statsbar" class="state state-turn-start state-turn-end state-gameover-win state-gameover-lose">
          <div id="stats1">
            <!--Insert dynamic text results or whatever here-->
            <p class="line1" id="myname">aa</p>
            <!--Line 2-->
            <p class="line2" id="mycards">aa</p>
          </div>
          <div id="stats2">
            <!--Insert dynamic text results or whatever here-->
            <p class="line1" id="theirname">aa</p>
            <!--Line 2-->
            <p class="line2" id="theircards">aa</p>
          </div>
        </div>
        
        <!--End bottom stats-->
        
      </div>
      
      <!-- open leader board button -->
      <button type="button" class="tr-btn-open-leaderboard state state-lobby" ng-click="openLeaderboard()"></button>
    </div>
    <script src="./socket.io/socket.io.js"></script>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./js/numeral.min.js"></script>
    <script type="text/javascript">
      var config = {};
      config.socketio = {};
      config.socketio.url = undefined;//"http://www.fpspulse.com/";
      config.socketio.options = undefined;//{ resource: "trumps/socket.io/" };
    </script>
    <script src="./js/toprockets.js"></script>
  </body>
</html>
