@font-face {
	font-family: 'Conv_HandelGothic';
	src: url('fonts/HandelGothic.eot');
	src: local('☺'), url('fonts/HandelGothic.woff') format('woff'), url('fonts/HandelGothic.ttf') format('truetype'), url('fonts/HandelGothic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    background: url('background.png');
    background-color: black;
    background-repeat: no-repeat;
    background-position: center top;
}

*:focus {
    outline: none;
}

.tr-text {
    font-family: 'Conv_HandelGothic';
    color: #363636;
}

.tr-text-lobby {
    font-family: 'Conv_HandelGothic';
    font-size: 16px;
    color: white;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
    line-height: 150%;
    text-align: justify;
    text-justify: inter-word;
}

.tr-text-lobby-info {
    text-align: center;
    color: rgb(242,101,50);
}

.tr-text-searching {
    position: absolute;
    font-family: 'Conv_HandelGothic';
    font-size: 30px;
    color: rgb(242,101,50);
    bottom: 150px;
    width: 100%;
    text-align: center;
}

.tr-text-player {
    position: absolute;
    font-family: 'Conv_HandelGothic';
    font-size: 16px;
    top: 5px;
    left: 10px;
    color: white;
}

.tr-text-status {
    position: absolute;
    font-family: 'Conv_HandelGothic';
    font-size: 12px;
    bottom: 5px;
    left: 10px;
}

.tr-text-status-online {
    color: green;
}

.tr-text-status-ingame {
    color: rgb(242,101,50);
}

.tr-text-wins {
    position: absolute;
    font-family: 'Conv_HandelGothic';
    font-size: 12px;
    right: 10px;
    bottom: 15px;
    color: white;
}

.tr-playerlist-header {
    position: absolute;
    top: 15px;
    height: 45px;
    width: 360px;
    font-family: 'Conv_HandelGothic';
    font-size: 30px;
    text-align: center;
    color: rgb(242,101,50);
    margin: 0px auto;
}

.tr-container {
    position: absolute;
    top: 42px;
    left: 0px;
    height: 493px;
    width: 100%;
}

.tr-container-game {
    position: relative;
    top: 200px;
    margin: 0px auto;
    height: 600px;
    width: 799px;
}

.tr-lobby-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 100%;
}

.tr-lobby-right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 439px;
    height: 100%;
}

.tr-background {
    position: absolute;
    top: 0px;
    left: 0px;
}

.tr-playerlist-container {
    position: absolute;
    top: 60px;
    height: 400px;
    overflow-y: scroll;
}

.tr-table-playerlist {
    border-spacing: 0;
    border-collapse: collapse;
}

.tr-td-playerlist-left {
    position: relative;
    width: 230px;
    height: 40px;
}

.tr-td-playerlist-right {
    position: relative;
    width: 110px;
    height: 40px;
}

.tr-btn-play {
    position: absolute;
    background: url('play_active.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 349px;
    height: 129px;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.tr-btn-play:hover {
    background: url('play_hover.png') no-repeat;
}

.tr-btn-play:active {
    background: url('play_pressed_down.png') no-repeat;
}

.tr-btn-play:disabled {
    background: url('play_disabled.png') no-repeat;
}

.tr-btn-cancel {
    position: absolute;
    background: url('cancel.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 242px;
    height: 64px;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.tr-btn-cancel:hover {
    background: url('cancel_hover.png') no-repeat;
}

.tr-btn-cancel:active {
    background: url('cancel_pressed_down.png') no-repeat;
}

.tr-btn-challenge {
    position: absolute;
    right: 5px;
    top: 5px;
    background: url('challenge.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 96px;
    height: 30px;
}

.tr-btn-challenge:hover {
    background: url('challenge_hover.png') no-repeat;
    right: 5px;
    top: 4px;
}

.tr-btn-challenge:active {
    background: url('challenge_pressed_down.png') no-repeat;
    right: 4px;
    top: 4px;
}

.tr-btn-challenge:disabled {
    background: url('challenge_inactive.png') no-repeat;
    right: 5px;
    top: 5px;
}

.tr-btn-challenge-disabled {
    position: absolute;
    right: 5px;
    top: 5px;
    background: url('challenge_inactive.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 96px;
    height: 30px;
}




/*Challenge popup*/

#challengepopup {
    width: 799px;
    height: 492px;
    background-image: url('challenge_popup.png');
    position: relative;
}

#challengername {
    width: 799px;
    text-align: center;
    text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	color: white;
	font-family: 'Conv_HandelGothic';
	margin: 0px;
	position: absolute;
	top: 320px;
}

#challengeaccept {
    border: 0px;
    display: block;
    width: 242px;
    height: 64px;
    position: absolute;
    bottom: 50px;
    left: 150px;
    background-image: url('accept.png');
}

#challengeaccept:hover {
    background-image: url('accept_hover.png');
}

#challengeaccept:active {
    background-image: url('accept_pressed_down.png');
}

#challengerefuse {
    border: 0px;
    display: block;
    width: 242px;
    height: 64px;
    position: absolute;
    bottom: 50px;
    right: 150px;
    background-image: url('decline.png');
}

#challengerefuse:hover {
    background-image: url('decline_hover.png');
}

#challengerefuse:active {
    background-image: url('decline_pressed_down.png');
}

/*End challenge popup*/


/*Gameactive*/

#gameactive {
    width: 776px;
    height: 516px;
    margin-left: 11px;
    margin-right: 12px;
    position: relative;
}

/*Cards*/
/*Left card*/

.tr-card-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 365px;
    height: 516px;
}

/*End left card*/


/*Right card*/
/*Right card hidden*/

.tr-card-right-hidden {
    float: right;
    width: 365px;
    height: 516px;
    position: relative;
    text-align: center;
	font-size: 25px;
	line-height: 25px;
	color: white;
	font-family: 'Conv_HandelGothic';
	text-transform: uppercase;
}

.turn-mine {
    width: 365px;
    position: absolute;
    top: 360px;
    margin: 0px;
}

.turn-theirs {
    width: 365px;
    position: absolute;
    top: 360px;
    margin: 0px;
}

/*Right card visible*/

.tr-card-right {
    float: right;
    width: 365px;
    height: 516px;
    position: relative;
}

/*End right card*/


/*Card stats*/

.tr-card-photo {
    position: absolute;
    top: 30px;
    left: 36px;
    z-index: -2;
}

.tr-card-front {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.tr-card-title-text {
    position: absolute;
    left: 155px;
    top: 75px;
    width: 170px;
    font-family: 'Conv_HandelGothic';
    font-size: 18px;
    color: rgb(54,54,54);
}

.tr-card-subtitle-text {
    position: absolute;
    left: 155px;
    top: 115px;
    width: 170px;
    font-family: 'Conv_HandelGothic';
    font-size: 14px;
    color: rgb(54,54,54);
}

.tr-card-flavour-text {
    position: absolute;
    left: 50px;
    top: 380px;
    width: 270px;
    font-family: 'Conv_HandelGothic';
    font-size: 12px;
    color: rgb(54,54,54);
}

.tr-stats-container {
    position: absolute;
    top: 190px;
    left: 50px;
    height: 100%;
    width: 270px;
}

.tr-stats-table {
    border-spacing: 0;
    border-collapse: collapse;
}

.tr-text-stats {
    font-family: 'Conv_HandelGothic';
    font-size: 16px;
    color: rgb(54,54,54);
}

.tr-text-stats-hover {
    font-family: 'Conv_HandelGothic';
    font-size: 16px;
    color: rgb(54,54,54);
    cursor: pointer;
}

.tr-text-stats-hover:hover {
    color: rgb(242,101,50);
    cursor: pointer;
}

.tr-text-stats-green {
    font-family: 'Conv_HandelGothic';
    font-size: 16px;
    color: green/*rgb(54,54,54)*/;
}

.tr-text-stats-red {
    font-family: 'Conv_HandelGothic';
    font-size: 16px;
    color: red/*rgb(54,54,54)*/;
}

.tr-stats-td-left {
    position: relative;
    height: 25px;
    width: 200px;
}

.tr-stats-td-right {
    position: relative;
    height: 25px;
    width: 50px;
}

/*End card stats*/
/*End cards*/


/*Next turn button*/

.tr-btn-next {
    position: absolute;
    background: url('next_turn.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 223px;
    height: 65px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 40px;
}

.tr-btn-next:hover {
    background: url('next_turn_hover.png') no-repeat;
}

.tr-btn-next:active {
    background: url('next_turn_pressed_down.png') no-repeat;
}

/*End next turn button*/


/*Gameover*/

.gameovermain {
    margin: 0px;
    padding: 0px;
    width: 776px;
    height: 516px;
}

.gameovermain.state-gameover-win {
    background-image: url('win.png');
}

.gameovermain.state-gameover-lose {
    background-image: url('loss.png');
}

.gameoverplayagain {
    position: relative;
    left: 37px;
    top: 415px;
    width: 702px;
    height: 64px;
    display: block;
    background-image: url('play_again.png');
    border: 0px;
}

.gameoverplayagain:hover {
    background-image: url('play_again_hover.png');
}

.gameoverplayagain:active {
    background-image: url('play_again_pressed_down.png');
}

/*End gameover*/
/*End gameactive*/


/*Statsbar*/

#statsbar {
    margin-top: 15px;
    width: 776px;
    height: 110px;
    background-image: url('vs.png');
    margin-left: 11px;
    margin-right: 12px;
}

#statsbar p {
	font-size: 30px;
	line-height: 30px;
	color: white;
	font-family: 'Conv_HandelGothic';
	margin: 0px;
}

#stats1 {
    float: left;
    width: 329px;
    height: 110px;
	text-align: center;
}

#stats2 {
    float: right;
    width: 329px;
    height: 110px;
	text-align: center;
}

.line1 {
    text-transform: uppercase;
    margin-top: 24px !important;
}

.line2 {
    text-transform: uppercase;
}

/*End Statsbar*/

/* Leaderboard */

.tr-container-leaderboard {
    width: 776px;
    height: 609px;
    background-image: url('leaderboard.png');
    position: relative;
}

.tr-leaderboard {
    position: absolute;
    border: none;
    left: 20px;
    top: 90px;
    right: 20px;
    bottom: 105px;
}

#leaderboardlist-col2 {
    position: absolute;
    top: 0;
    right: 10px;
}

ol.tr-leaderboard-list#leaderboardlist-col1 {
    counter-reset:li; /* Initiate a counter */
}
ol.tr-leaderboard-list {
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
ol.tr-leaderboard-list > li {
    position:relative; /* Create a positioning context */
    margin:0 0 15px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 8px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
}
ol.tr-leaderboard-list > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    font-weight:bold;
    text-align:center;
}

.tr-leaderboard-item {
    width: 250px;
}

.tr-leaderboard-item > div {
    display: inline;
}

.tr-text-score {
    font-size: 16px;
    color: #F26532;
}
.tr-leaderboard-item > .tr-text-score {
    position: absolute;
    right: 0;
}
/* End Leaderboard */

/* Close button*/

.tr-btn-close {
    position: absolute;
    background: url('close_button_active.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 703px;
    height: 65px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 20px;
}

.tr-btn-close:hover {
    background: url('close_button_hover.png') no-repeat;
}

.tr-btn-close:active {
    background: url('close_button_pressed.png') no-repeat;
}

/* End close button*/

/* Leaderboard button*/

.tr-btn-open-leaderboard {
    position: absolute;
    background: url('leaderboard_button_active.png') no-repeat;
    cursor: pointer;
    border: none;
    width: 703px;
    height: 65px;
    top: 780px;
    left: 0;
    right: 0;
    margin: 0 auto 40px auto;
}

.tr-btn-open-leaderboard:hover {
    background: url('leaderboard_button_hover.png') no-repeat;
}

.tr-btn-open-leaderboard:active {
    background: url('leaderboard_button_pressed.png') no-repeat;
}

/* End Leaderboard button*/
